/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;500;600;700&display=swap');

/* ===== FONT FACE ===== */
@font-face {
   font-family: 'authenticsignature';
   src: url('../fonts/authentic_signature-webfont.woff2') format('woff2'),
		url('../fonts/authentic_signature-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
	font-family: 'orange_slicesregular';
	src: url('../fonts/orangeslices-lgpk0-webfont.woff2') format('woff2'),
	     url('../fonts/orangeslices-lgpk0-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
/* ===== end font face ===== */

/* ===== VARIABLES CSS ===== */
:root{
	--header-height: 3.5rem;

	/* ===== Colors ===== */
	--white-color: #FAFAFF; /* White */
	--black-color: #141414; /* Black */
	--blue-color: #5361FF; /* Light Blue */
	--navy-color: #14213D; /* Navy */
	--pure-white-color: #FFFFFF; /* Pure White */
	--cream-color: #F8F1F1; /* Cream Color */

	/* ===== Font and Typography ===== */
	--title-font: 'Abril Fatface', cursive;
	--text-font: 'Poppins', sans-serif;
	--special-font: 'authenticsignature';
	--cute-font: 'orange_slicesregular';
	--biggest-font-size: 2.5rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.4rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/* ===== Font Weight ===== */
	--regular-font: 400;
	--medium-font: 500;
	--semi-bold-font: 600;
	--bold-font: 700;

	/* ===== Margin Bottom ===== */
	--mb-0-25: .25rem;
   --mb-0-5: .5rem;
   --mb-0-75: .75rem;
   --mb-1: 1rem;
   --mb-1-5: 1.5rem;
   --mb-2: 2rem;
   --mb-2-5: 2.5rem;
   --mb-3: 3rem;

   /* ===== z-index ===== */
	--z-fixed: 100;
	--z-overlay: 200;
}
/* ===== end variables css ===== */

/* Responsive Typography */
@media screen and (min-width: 768px){
	:root{
		--biggest-font-size: 3.7rem;
		--big-font-size: 2.5rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/* ===== BASE ===== */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: var(--text-font);
	font-size: var(--normal-font-size);
	background-color: var(--white-color);
	color: var(--black-color);
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width: 100%;
	height: auto;
}
.main{
	overflow: hidden;
}
/* ===== end base ===== */

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar{
	width: .6rem;
	background: hsl(0, 0%, 74%);
}
::-webkit-scrollbar-thumb{
	background: hsl(0, 0%, 17%);
}
/* ===== end scroll bar ===== */

/* ===== DARK THEME ===== */
body.dark-theme{
	background-color: var(--navy-color);
	color: var(--pure-white-color);
}

/* Nav */
.dark-theme .hamburger__top,
.dark-theme .hamburger__middle,
.dark-theme .hamburger__bottom{
	background-color: var(--pure-white-color);
}
.dark-theme .nav__logo,
.dark-theme .nav__link{
	color: var(--pure-white-color);
}
.dark-theme .scroll-header .nav__logo,
.dark-theme .scroll-header .nav__theme{
	color: var(--black-color);
}
.dark-theme .scroll-header .hamburger__top,
.dark-theme .scroll-header .hamburger__middle,
.dark-theme .scroll-header .hamburger__bottom,
.dark-theme .scroll-header .language__line{
	background-color: var(--black-color);
}
.dark-theme .language__line{
	background-color: var(--pure-white-color);
}

/* Home */
.dark-theme .home__data{
	border-left-color: var(--pure-white-color);
}
.dark-theme .home__button{
	background-color: transparent;
}
.dark-theme .home__square,
.dark-theme .about__square{
	background-color: var(--cream-color);
}

/* About */
.dark-theme .footer__link{
	color: var(--pure-white-color);
}
.dark-theme .footer__circle{
	background-color: var(--pure-white-color);
}

/* Overlay */
.dark-theme .overlay{
	background-color: var(--white-color);
}
.dark-theme .overlay__title,
.dark-theme .overlay__subtitle{
	color: var(--black-color);
}
/* ===== end dark theme ===== */

/* ===== LAYOUT ===== */
.container{
	max-width: 1024px;
}
.grid{
	display: -ms-grid;
	display: grid;
}
.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	-webkit-transition: .4s;
	transition: .4s;
}
/* ===== end layout ===== */

/* ===== REUSABLE CSS CLASSES ===== */
.section{
	padding: 4rem 0 2rem;
}
.section-title{
	position: relative;
	font-family: var(--title-font);
	font-size: var(--big-font-size);
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: var(--mb-2);
	max-width: max-content;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.section-title::before{
	content: '';
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-60%);
	height: 12px;
	width: 110%;
	background-color: var(--blue-color);
	z-index: -1;
	opacity: .5;
}
/* ===== end reusable css classes ===== */

/* ===== BUTTONS ===== */
.button{
	display: inline-block;
	padding: .75rem 2rem;
	border: 2px solid var(--blue-color);
	border-radius: .5rem;
	background-color: var(--blue-color);
	color: var(--white-color);
}
.button--flex{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
/* ===== end buttons ===== */

/* ===== SOCIAL MEDIA ===== */
.social__container{
	grid-template-columns: repeat(auto-fit, minmax(45px,1fr));
	grid-gap: .5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.social__box{
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
}
.social__link{
	display: inline-flex;
}
.social__icon{
	font-size: 1.5rem;
	color: var(--pure-white-color);
}
.social__email,
.sosmed__github{
	background-color: #2B3137;
}
.social__instagram{
	background: linear-gradient(45deg, #8134AF, #DD2A7B, #F58529);
}
.sosmed__youtube{
	background-color: #E62117;
}
.social__whatsapp{
	background-color: #25D366;
}
.social__telegram{
	background-color: #0088CC;
}
/* Email */
.social__email{
	position: relative;
}
.email__address{
	display: none;
}
.copy__email{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2B3137;
	transition: .3s;
	opacity: 0;
}
.social__email:hover .copy__email{
	opacity: 1;
}
/* ===== end social media ===== */

/* ===== NAV ===== */
.nav{
	height: var(--header-height);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}
.nav__logo{
	color: var(--black-color);
}
.nav__menu{
	position: fixed;
	bottom: -150%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rbga(255,255,255,.5);
	backdrop-filter: blur(15px) !important;
	transition: .4s;
	z-index: var(--z-fixed);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.nav__item:not(:last-child){
	margin-bottom: var(--mb-2);
}
.nav__link{
	font-family: var(--title-font);
	font-size: var(--h2-font-size);
	font-weight: var(--medium-font);
	letter-spacing: 2px;
	color: var(--black-color);
}

/* Nav Theme */
.nav__theme{
	margin-left: auto;
	margin-right: 1rem;
	cursor: pointer;
}
.change-theme{
	font-size: 1.2rem;
}

/* Nav Languages */
.nav__languages{
	display: flex;
	align-items: center;
}
.language__icon{
	width: 20px;
}
.language__line{
	width: 2px;
	height: 20px;
	background-color: var(--black-color);
	margin: 0 .5rem;
	position: relative;
	margin-top: -.3rem;
	opacity: .8;
	border-radius: .5rem;
}
.language__button{
	cursor: pointer;
}

/* Hamburger Nav */
.hamburger__nav{
	cursor: pointer;
	width: 24px;
	height: 24px;
	border-radius: .5rem;
	position: relative;
	background: none;
	border: none;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	z-index: var(--z-fixed);
	margin-left: 1rem;
}
.hamburger__top,
.hamburger__middle,
.hamburger__bottom{
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 2px;
	background: var(--black-color);
	-webkit-transform: rotate(0);
			transform: rotate(0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.hamburger__middle{
	-webkit-transform: translateY(7px);
			transform: translateY(7px);
}
.hamburger__bottom{
	-webkit-transform: translateY(14px);
			transform: translateY(14px);
}

.close-menu .hamburger__top{
	/*background-color: var(--black-color);*/
	-webkit-transform: rotate(45deg) translateY(6px) translateX(6px) !important;
			transform: rotate(45deg) translateY(6px) translateX(6px) !important;
}
.close-menu .hamburger__middle{
	display: none;
}
.close-menu .hamburger__bottom{
	/*background-color: var(--black-color);*/
	-webkit-transform: rotate(-45deg) translateY(6px) translateX(-6px);
			transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Show Menu */
.show-menu{
	bottom: 0;
}

/* Active Link */
.active-link{
	position: relative;
}
.active-link::before{
	position: absolute;
	top: .3rem;
	left: 50%;
	transform: translateX(-50%);
	width: max-content;
	text-align: center;
	text-decoration-style: wavy;
	text-decoration-color: var(--blue-color);
	text-decoration-line: underline;
	color: transparent;
}
.active-link.home__link::before{
	content: 'Home';
}
.active-link.about__link::before{
	content: 'About';
}
.active-link.portfolio__link::before{
	content: 'Portfolio';
}
.active-link.contact__link::before{
	content: 'Contact';
}

/* Change background header */
.scroll-header{
	background-color: var(--white-color);
	box-shadow: 0 1px 4px hsla(152,4%,15%,.1);
}
/* ===== end nav ===== */

/* ===== HOME ===== */
.home{
	padding: calc(var(--header-height) + 3.5rem) 0 2.5rem;
	position: relative;
}
.home span{
	display: block;
}
.home__container{
	grid-row-gap: 2.5rem;
}
.home__data{
	border-left: 4px solid var(--black-color);
	padding-left: 1.5rem;
}
.home__subtitle{
	margin-bottom: var(--mb-0-5);
}
.home__title{
	font-family: var(--title-font);
	font-size: var(--biggest-font-size);
	margin-bottom: var(--mb-0-5);
}
.home__profession{
	margin-bottom: var(--mb-1-5);
}
.home__images{
	position: relative;
	margin-bottom: 5rem;
}
.home__square,
.home__img{
	width: 250px;
	height: 250px;
}
.home__square{
	background-color: var(--blue-color);
	margin-left: auto;
}
.home__img{
	background: url(../img/profile.jpg) no-repeat bottom/cover;
	position: absolute;
	right: 2rem;
	top: 3rem;
}
/* Home Background Items */
.small__icon1{
	width: 20px;
	position: absolute;
	left: 20rem;
	top: 7rem;
	opacity: .5;
	z-index: -1;
}
.small__icon2{
	width: 30px;
	position: absolute;
	top: 30rem;
	left: 8rem;
	opacity: .5;
	z-index: -1;
}
.small__icon3{
	width: 30px;
	position: absolute;
	top: 14rem;
	right: 12rem;
	transform: rotate(45deg);
	opacity: .5;
	z-index: -1;
}
.big__icon4{
	width: 250px;
	position: absolute;
	top: 44%;
	left: -35%;
	opacity: .5;
	z-index: -1;
}
.small__icon5{
	width: 30px;
	position: absolute;
	bottom: 1.5rem;
	right: 4rem;
	opacity: .5;
	z-index: -1;
}
/* ===== end home ===== */

/* ==== ABOUT ===== */
.about__container{
	grid-row-gap: 2rem;
}
.about .section-title{
	margin-bottom: 5rem;
}
.about__images{
	position: relative;
}
.about__img,
.about__square{
	width: 250px;
}
.about__square{
	height: 250px;
	background-color: var(--blue-color);
}
.about__img{
	position: absolute;
	left: 3rem;
	top: -3rem;
}
.about__data{
	text-align: center;
}
.about__description{
	font-family: var(--cute-font);
	line-height: 1.9rem;
	margin-bottom: var(--mb-1-5);
}
.social__media-about{
	display: flex;
	justify-content: center;
}
.social__media-about .social__box:not(:last-child){
	margin-right: var(--mb-0-75);
}
/* ===== end about ===== */

/* ===== QUALIFICATION ===== */
.qualification__tabs{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: var(--mb-2);
}
.qualification__button{
   font-size: var(--h3-font-size);
   font-weight: var(--medium-font);
   transition: .3s;
   cursor: pointer;
}
.qualification__button:hover{
   color: var(--blue-color);
}
.qualification__icon{
   font-size: 1.8rem;
   margin-right: var(--mb-0-25);
}
.qualification__data{
   display: grid;
   grid-template-columns: 1fr max-content 1fr;
   column-gap: 1.5rem;
}
.qualification__title{
   font-size: var(--normal-font-size);
   font-weight: var(--medium-font);
}
.qualification__subtitle{
   display: inline-block;
   font-size: var(--smaller-font-size);
   margin-bottom: var(--mb-0-5);
}
.qualification__calendar{
   font-size: var(--smaller-font-size);
   color: var(--text-color-light);
}
.qualification__rounder{
   display: inline-block;
   width: 15px;
   height: 15px;
   background-color: var(--blue-color);
   border-radius: 50%;
}
.qualification__line{
   display: block;
   width: 1px;
   height: 100%;
   background-color: var(--blue-color);
   transform: translate(7px,-7px);
}
.qualification [data-content]{
   display: none;
}
.qualification__active[data-content]{
   display: block;
}
.qualification__button.qualification__active{
   color: var(--blue-color);
}
.qualification__right{
	text-align: right;
}
/* ===== end qualification ===== */

/* ===== PORTFOLIO ===== */
.portfolio__container{
	grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
	grid-gap: 2rem 1rem;
}
.portfolio__box{
	max-width: 320px;
	width: 100%;
	height: 300px;
	border-radius: .5rem;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.portfolio__img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.portfolio__data{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	transition: .4s;
}
.portfolio__box:hover .portfolio__data{
	display: flex;
}
.portfolio__link-data{
	color: var(--pure-white-color);
	font-size: var(--h3-font-size);
}
/* ===== end portfolio ===== */

/* ===== CONTACT ===== */
.contact__description{
	font-family: var(--cute-font);
	line-height: 1.9rem;
	text-align: center;
	margin-bottom: var(--mb-1-5);
}
/* ===== end contact ===== */

/* ===== FOOTER ===== */
.footer__container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: var(--small-font-size);
	margin-bottom: var(--mb-2);
}
.footer__link{
	color: var(--black-color);
}
.footer__circle{
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: var(--black-color);
	margin: 0 var(--mb-0-5);
}
.footer__copy{
	display: block;
	font-size: var(--smaller-font-size);
	text-align: center;
	margin-bottom: var(--mb-2);
	margin-top: 5rem;
}
/* ===== end footer ===== */

/* ===== SCROLL UP ===== */
.scrollup{
   position: fixed;
   right: 1rem;
   bottom: -20%;
   background-color: var(--blue-color);
   padding: .5rem;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   opacity: .8;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
   z-index: var(--z-tooltip);
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: .3rem;
}
.scrollup:hover{
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.scrollup__icon{
   color: var(--pure-white-color);
   font-size: 1.2rem;
}

/* Show scroll */
.show-scroll{
   bottom: 3.5rem;
}
/* ===== end scroll top ===== */

/* ===== OVERLAY ===== */
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: var(--z-overlay);
	background-color: var(--blue-color);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.overlay__title{
	font-family: var(--special-font);
	font-size: var(--biggest-font-size);
	letter-spacing: 2px;
	margin-bottom: var(--mb-1);
	color: var(--pure-white-color);
	position: relative;
}
.overlay__title::before{
	content: '';
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-60%);
	height: 12px;
	width: 110%;
	background-color: var(--navy-color);
	z-index: -1;
	opacity: .5;
}
.overlay__subtitle{
	display: block;
	font-size: var(--h3-font-size);
	color: var(--pure-white-color);
}
/* ===== end overlay ===== */

/* ===== MEDIA QUERIS ===== */
/* For small devices */
@media screen and (max-width: 320px){
	/* ===== HOME + ABOUT ===== */
	.home__square,
	.home__img,
	.about__square,
	.about__img{
		width: 180px;
		height: 180px;
	}
	/* ===== end home + about ===== */
}

@media screen and (max-width: 385px){
	/* ===== LAYOUT ===== */
	.container{
		width: calc(100% - 2rem);
		margin-left: var(--mb-1);
		margin-right: var(--mb-1);
	}
	/* ===== end layout ===== */

	/* ===== HOME ===== */
	/* Home Background Items */
	.small__icon3{
		width: 25px;
		top: 15rem;
		right: 5rem;
	}
	/* ===== end home ===== */
}

@media screen and (min-width: 386px){
	/* ===== LAYOUT ===== */
	.container{
		width: calc(100% - 3rem);
		margin-left: var(--mb-1-5);
		margin-right: var(--mb-1-5);
	}
	/* ===== end layout ===== */
}

@media screen and (min-width: 476px){
	/* ===== SOCIAL MEDIA ===== */
	.contact .social__container{
		max-width: 250px;
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end social media ===== */
}

@media screen and (min-width: 576px){
	/* ===== LAYOUT ===== */
	.container{
		width: calc(100% - 4rem);
		margin-left: var(--mb-2);
		margin-right: var(--mb-2);
	}
	/* ===== end layout ===== */
}

@media screen and (min-width: 768px){
	/* ===== REUSABLE CSS CLASSES ===== */
	.section{
		padding: 7rem 0 3rem;
	}
	/* ===== end reusable css classes ===== */

	/* ===== NAV ====*/
	.nav{
		height: calc(var(--header-height) + 1.5rem);
	}
	/* Nav Theme */
	.nav__theme{
		margin-right: 1.5rem;
	}
	/* Nav Languages */
	.language__icon{
		width: 22px;
	}
	/* Hamburger Nav */
	.hamburger__nav{
		margin-left: 1.5rem;
	}
	/* ===== end nav ===== */

	/* ===== HOME ==== */
	.home{
		padding: 10rem 0 5rem;
	}
	.home__container{
		-ms-grid-columns: (1fr)[2];
			grid-template-columns: repeat(2,1fr);
		-webkit-box-align: center;
			-ms-flex-align: center;
					-ms-grid-row-align: center;
				align-items: center;
	}
	.home__square,
	.home__img{
		width: 300px;
		height: 300px;
	}
	.small__icon2{
		top: 32rem;
		left: 7rem;
	}
	.small__icon3{
		right: 45rem;
	}
	.big__icon4{
		width: 300px;
		top: 20%;
		left: -16%;
	}
	.small__icon5{
		top: 50%;
		transform: translateY(-50%);
	}
	/* ===== end home ===== */

	/* ===== ABOUT ===== */
	.about__container{
		grid-template-columns: repeat(2,auto);
		grid-column-gap: 6rem;
		align-items: center;
	}
	.about__data{
		text-align: initial;
	}
	.social__media-about{
		justify-content: initial;
	}
	/* ===== end about ===== */

	/* ===== CONTACT ===== */
	.contact__description{
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end contact ===== */
}

/* For large devices */
@media screen and (min-width: 992px){
	/* ===== LAYOUT ===== */
	.container{
		margin-left: auto;
		margin-right: auto;
	}
	/* ===== end layout ===== */

	/* ===== HOME + ABOUT ===== */
	.home__square,
	.home__img,
	.about__square,
	.about__img{
		width: 350px;
		height: 350px;
	}
	/* ===== end home + about ===== */
}

@media screen and (min-width: 1200px){
	/* ===== HOME ===== */
	.home__img{
		right: 5rem;
		top: 5rem;
	}
	/* ===== end home ===== */

	/* ===== ABOUT ===== */
	.about__container{
		padding-top: 3rem;
		grid-column-gap: 8rem;
	}
	.about__img{
		left: 5rem;
		top: -5rem;
	}
	/* ===== end about ===== */
}



