/* ===== GOOGLE FONTS ===== */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@400;500;600;700&display=swap');

/* ===== VARIABLES CSS ===== */
:root{
	--header-height: 3.5rem;

	/* ===== Colors ===== */
	--body-light-color: #FAFAFF; /* Light Blue */
	--text-light-color: #141414; /* Black */
	--text-dark-color: #F9F9F9; /* White Color */
   --blue-lightest-color: #90AACB; 
   --blue-light-color: #577BC1; /* Light Blue */
   --blue-darker-color: #35589A; /* Blue Darker */
   --white-color: #FFFFFF;

   /* Notes */
   /* background-color body untuk light theme -> #FAFAFF; background-color body untuk dark theme ->  #90AACB; color body untuk light theme -> #141414; color body untuk dark theme -> #F9F9F9*/
   /* #577BC1 -> hsla(220,46%,55%,1); #35589A -> hsla(219,49%,41%,1)*/


	/* ===== Font and Typography ===== */
	--title-font: 'Abril Fatface', cursive;
	--body-font: 'Poppins', sans-serif;
	--biggest-font-size: 1.85rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;
	--tiny-font-size: .625rem;

	/* ===== Font Weight ===== */
   --regular-font: 400;
   --medium-font: 500;
   --semi-bold-font: 600;
   --bold-font: 700;

   /* ===== z index ===== */
	--z-tooltip: 10;
	--z-fixed: 100;
}
/* ===== end variables css ===== */

/* Responsive typography */
@media screen and (min-width: 576px){
	:root{
		--biggest-font-size: 2rem;
	}
}
@media screen and (min-width: 968px){
	:root{
		--biggest-font-size: 2.75rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}
/* end responsive typography */

/* ===== BASE ===== */
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	scroll-behavior: smooth;
}
body,
button,
input,
textarea{
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
}
body{
	background-color: var(--body-light-color);
	color: var(--text-light-color);
	-webkit-transition: .4s;
	transition: .4s; /* for light mode animation */
}
h1,h2,h3{
	font-weight: var(--semi-bold-font);
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
button{
	cursor: pointer;
	border: none;
	outline: none;
}
img{
	max-width: 100%;
	height: auto;
}
/* ===== end base ===== */

/* ===== THEME ===== */
.change-theme{
	font-size: 1.25rem;
	cursor: pointer;
}
/* ===== end theme ===== */

/* ===== VARIABLES DARK THEME ===== */
/* Base */
body.dark-theme{
   background-color: var(--blue-lightest-color);
}
.dark-theme .nav__logo,
.dark-theme .change-theme,
.dark-theme .home__data,
.dark-theme .section__subtitle,
.dark-theme .about__data,
.dark-theme .contact__closing,
.dark-theme .footer__title,
.dark-theme .footer__link,
.dark-theme .footer__copy{
	color: var(--text-dark-color);
}
.dark-theme .active-link{
	background: -webkit-linear-gradient(top,
					hsla(219, 49%, 41%, 1),
					hsla(219, 49%, 41%, .3)
	);
	background: linear-gradient(180deg,
					hsla(219, 49%, 41%, 1),
					hsla(219, 49%, 41%, .3)
	); /*blue darker color*/
}
.dark-theme .scroll-header{
	background-color: var(--blue-lightest-color);
}
.dark-theme .button{
	background: -webkit-linear-gradient(45deg,
					#35589A, rgba(53,88,154,.5)
	);
	background: linear-gradient(45deg,
					#35589A, rgba(53,88,154,.5)
	);
}
.dark-theme .section__title{
	color: var(--blue-darker-color);
}
.dark-theme .footer{
	background: -webkit-linear-gradient(45deg,
					#35589A, rgba(53,88,154,.5)
	);
	background: linear-gradient(45deg,
					#35589A, rgba(53,88,154,.5)
	);
}
.dark-theme .footer__circle{
	background-color: var(--body-light-color);
}
/* ===== end variables light theme ===== */

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar{
	width: 0.6rem;
	background-color: #D5D5D5;
}
::-webkit-scrollbar-thumb{
	background-color: #7F7C82;
	-webkit-transition: .3s;
	transition: .3s;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #444444;
}
/* ===== end scroll bar ===== */

/* ===== REUSABLE CSS CLASSES ===== */
.container{
   max-width: 1024px;
   width: calc(100% - 3rem);
   margin-left: 1.5rem;
	margin-right: 1.5rem;
}
.grid{
   display: -ms-grid;
   display: grid;
}
.main{
	overflow: hidden !important;
}
.section{
	padding: 4.5rem 0 1rem;
}
.section__title, 
.section__subtitle{
	text-align: center;
}
.section__title{
	font-size: var(--h2-font-size);
	color: var(--blue-light-color);
	margin-bottom: 2rem;
}
.section__subtitle{
	display: block;
	font-size: var(--smaller-font-size);
}
/* ===== end reusable css classes ===== */

/* ===== BUTTONS ===== */
.button{
	display: inline-block;
	background: -webkit-linear-gradient(45deg,
					hsla(211, 94%, 64%, 1),
					hsla(211, 94%, 64%, .5)
	);
	background: linear-gradient(45deg,
					hsla(211, 94%, 64%, 1),
					hsla(211, 94%, 64%, .5)
	);
	color: var(--white-color);
	font-weight: var(--medium-font);
	padding: 0.75rem 1.5rem;
	border-radius: .5rem;
	-webkit-transition: .4s;
	transition: .4s;
}
.button:hover{
	background-color: hsla(211, 94%, 64%, 1);
}
/* ===== end buttons ===== */

/* ===== HEADER & NAV ===== */
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: var(--z-fixed);
	-webkit-transition: .4s;
	transition: .4s; /* For light mode animation */
}
.nav{
	height: var(--header-height);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav__logo{
	color: var(--text-light-color);
	font-weight: var(--medium-font);
	-webkit-transition: .4s;
	transition: .4s;
}
.nav__menu{
	position: fixed;
	bottom: 1rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 90%;
	background-color: hsla(223, 77%, 92%, .8);
	border-radius: 4rem;
	padding: 1rem 2.25rem;
	backdroup-filter: blur(10px) !important;
	-webkit-transition: .4s;
	transition: .4s; /* For light mode animation */
}
.nav__list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.nav__link{
	color: var(--text-light-color);
	font-size: 1.25rem;
	padding: 0.4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 5rem;
}

/* Active link */
.active-link{
	background: -webkit-linear-gradient(top,
					hsla(211, 94%, 64%, 1),
					hsla(211, 94%, 64%, .3)
	);
	background: linear-gradient(180deg,
					hsla(211, 94%, 64%, 1),
					hsla(211, 94%, 64%, .3)
	);
	color: var(--body-light-color);
	box-shadow: 0 0 16px hsla(250, 66%, 75%, .4);
}

/* Change background header */
.scroll-header{
	background-color: var(--body-light-color);
	box-shadow: 0 2px 4px hsla(0,0%,1%,.1);
}

/* ===== Nav Languages ===== */
.nav__languages{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: auto;
	margin-right: .85rem;
}
.language__button{
	cursor: pointer;
}
.english__button{
	margin-right: .75rem;
}
.language__icon{
	width: 20px;
}
/* ===== end header & nav ===== */

/* ===== HOME ===== */
.home{
   padding-top: calc(var(--header-height) + 3.5rem);
}
.home__data{
   text-align: center;
}
.home__subtitle{
   display: block;
   margin-bottom: .5rem;
}
.home__title{
   font-family: var(--title-font);
   font-size: var(--biggest-font-size);
   margin-bottom: .5rem;
}
.home__profession{
   margin-bottom: 1.5rem;
}
.home__profession span{
   font-weight: var(--semi-bold-font);
}
/* ===== end home ===== */

/* ===== ABOUT ===== */
.about__container{
	grid-gap: 1.25rem;
}
.about__primary{
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.about__img{
	width: 220px;
	border-radius: 1.5rem;
}
.about__data{
	text-align: center;
}
.about__title{
	font-family: var(--title-font);
	font-size: var(--h2-font-size);
	margin-bottom: 1.5rem;
}
.about__description{
	margin-bottom: 2rem;
}
.about__description-icon{
	width: 20px;
}
.about__social{
	position: absolute;
	bottom: 2rem;
	left: 0;
	grid-row-gap: .5rem;
}
.about__social-link{
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	background-color: var(--white-color);
	color: var(--blue-light-color);
	padding: 0.25rem;
	border-radius: .25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 1rem;
	box-shadow: 0 2px 8px hsla(129,48%,8%,.1);
	-webkit-transition: .4s;
	transition: .4s;
}
.about__social-link:hover{
	background-color: var(--blue-light-color);
	color: var(--white-color);
}
.about__social:after{
	content: '';
	width: 35px;
	height: 2px;
	background-color: var(--blue-light-color);
	-webkit-transform: rotate(90deg) translate(16px,5px);
	        transform: rotate(90deg) translate(16px,5px);
}
/* ===== end about ===== */

/* ===== PORTFOLIO ===== */
.portfolio__container{
	grid-gap: 1.25rem;
}
.portfolio__card{
	background-color: var(--white-color);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 2px 16px hsla(129,48%,8%,.1);
}
.portfolio__img{
	border-radius: 1rem;
	margin-bottom: .75rem;
}
.portfolio__button{
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	color: var(--text-light-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap: .25rem;
	   -moz-column-gap: .25rem;
	        column-gap: .25rem;
	cursor: pointer;
	font-weight: var(--medium-font);
}
.portfolio__button:hover .portfolio__icon{
	-webkit-transform: translateX(.25rem);
	        transform: translateX(.25rem);
}
.portfolio__icon{
	font-size: 1rem;
	-webkit-transition: .4s;
	transition: .4s;
}

/* Portfolio Modal */
.portfolio__modal{
	position: fixed;
	inset: 0;
	background-color: rgba(0,0,0,.3);
	-webkit-backdrop-filter: blur(15px) !important;
           backdrop-filter: blur(15px) !important;
	padding: 2rem 1rem;
	display: -ms-grid;
	display: grid;
	place-items: center;
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: .4s;
	transition: .4s;
	z-index: 1000 !important;
}
.porfolio__modal-content{
	text-align: center;
	position: relative;
	background-color: var(--white-color);
	padding: 4.5rem 1.5rem 2.5rem;
	border-radius: 1.5rem;
}
.portfolio__modal-img{
	max-width: 320px;
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 1rem;
}
.portfolio__modal-description{
	display: block;
	margin-bottom: 2rem;
}
.portfolio__modal-close{
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	font-size: 1.5rem;
	color: var(--blue-light-color);
	cursor: pointer;
}

/*Active modal*/
.active-modal{
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
	visibility: visible !important;
}
/* ===== end portfolio ===== */

/* ===== CONTACT ===== */
.contact__container{
	padding-bottom: 1.5rem;
}
.contact__info{
	grid-gap: 1rem;
}
.contact__card{
	background-color: var(--white-color);
	padding: 1rem;
	border-radius: .75rem;
	text-align: center;
	box-shadow: 0 2px 16px hsla(129,48%,8%,.1);
}
.contact__card-icon{
	font-size: 2rem;
	color: var(--blue-light-color);
	margin-bottom: .25rem;
}
.contact__card-title,
.contact__card-data{
	font-size: var(--small-font-size);
}
.contact__card-title{
	font-weight: var(--medium-font);
}
.contact__card-data{
	display: block;
	margin-bottom: .75rem;
}
.contact__button{
	color: var(--blue-light-color);
	font-size: var(--small-font-size);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-column-gap: .25rem;
	   -moz-column-gap: .25rem;
	        column-gap: .25rem;
}
.contact__button:hover .contact__button-icon{
	-webkit-transform: translateX(.25rem);
	        transform: translateX(.25rem);
}
.contact__button-icon{
	font-size: 1rem;
	-webkit-transition: .4s;
	transition: .4s;
}
.contact__closing{
	display: block;
	text-align: center;
	margin: 1rem 0 3rem;
}
/* ===== end contact ===== */

/* ===== FOOTER ===== */
.footer{
	background-color: var(--blue-lightest-color);
}
.footer__container{
	padding: 2rem 0 6rem;
}
.footer__title,
.footer__link{
	color: var(--text-light-color);
}
.footer__title{
	font-family: var(--title-font);
	text-align: center;
	margin-bottom: 2rem;
}
.footer__list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
		 -ms-flex-align: center;
		 	  align-items: center;
	margin-bottom: 2rem;
}
.footer__circle{
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background-color: var(--text-light-color);
	margin: 0 .75rem;
}
.footer__social{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.footer__social-link{
	font-size: 1.75rem;
	-webkit-transition: .3s;
   transition: .3s;
	color: var(--body-light-color);
}
.footer__social-link:not(:last-child){
	margin-right: 1.25rem;
}
.footer__social-link:hover{
	-webkit-transform: translateY(-.3rem);
	        transform: translateY(-.3rem);
}
.footer__copy{
	display: block;
	margin-top: 4.5rem;
	color: rgba(0,0,0,.8);
	text-align: center;
	font-size: var(--smaller-font-size);
}
/* ===== end footer ===== */

/* ===== BREAKPOINTS ===== */
/* For small devices */
@media screen and (max-width: 320px){
	/* ===== REUSABLE CSS CLASSES ===== */
	.container{
		width: calc(100% - 2rem);
	   margin-left: 1rem;
		margin-right: 1rem;
	}
	/* ===== end reusable css classes ===== */

	/* ===== NAV ===== */
	.nav__menu{
		padding: 1rem 1.5rem;
	}
	/* ===== end nav ===== */
}

/* For medium devices */
@media screen and (min-width: 576px){
	/* ===== NAV ===== */
	.nav__menu{
		width: 328px;
	}
	/* ===== end nav ====== */

	/* ===== PORTFOLIO ===== */
   .portfolio__container{
      -ms-grid-columns: (1fr)[2];
          grid-template-columns: repeat(2,1fr);
   }
   /* ===== end portfolio ===== */

   /* ===== CONTACT ===== */
	.contact__info{
		-ms-grid-columns: (1fr)[2];
		    grid-template-columns: repeat(2,1fr);
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	/* ===== end contact ===== */
}

@media screen and (min-width: 767px){
	/* ===== HOME ===== */
	.home{
      padding-top: 10rem;
   }
	/* ===== end home ===== */

	/* ===== CONTACT ===== */
	.contact__info{
		-ms-grid-columns: (300px)[2];
		    grid-template-columns: repeat(2,300px);
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		grid-gap: 1.5rem;
	}
	/* ===== end contact ===== */
}

/* For large devices */
@media screen and (min-width: 992px){
	/* ===== REUSABLE CSS CLASSES ===== */
	.container{
		margin-left: auto;
		margin-right: auto;
	}
	.section{
		padding: 6.5rem 0 1rem;
	}
	.section__title{
		margin-bottom: 3.5rem;
	}
	/* ===== end reusable css classes ===== */

	/* ===== NAV ===== */
	.nav{
		height: calc(var(--header-height) + 1rem);
	}
	/* ===== end nav ===== */

	/* ===== HOME ===== */
   .home__img{
      position: relative;
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto;
      height: 450px;
   }
   .home__img img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
   }
   /* ===== end home ===== */

   /* ===== ABOUT ===== */
   .about__container{
		-ms-grid-columns: (1fr)[2];
		    grid-template-columns: repeat(2,1fr);
		-webkit-box-align: center;
		    -ms-flex-align: center;
		            -ms-grid-row-align: center;
		        align-items: center;
	}
	.about__img{
		width: 350px;
	}
	.about__data{
		text-align: initial;
	}
	.about__social-link{
		padding: 0.4rem;
		font-size: 1.25rem;
	}
	.about__social:after{
		-webkit-transform: rotate(90deg) translate(16px,0);
		        transform: rotate(90deg) translate(16px,0);
	}
   /* ===== end about ===== */

   /* ===== PORTFOLIO ===== */
   .portfolio__container{
      grid-gap: 2.5rem;
   }
   /* ===== end portfolio ===== */
}

@media screen and (min-width: 1024px){
	/* ===== CONTACT ===== */
	.contact__info{
		-ms-grid-columns: (300px)[3];
		    grid-template-columns: repeat(3,300px);
		grid-column-gap: 2rem;
	}
	/* ===== end contact ===== */
}